<!--

    ==========================================================================
                         Copyright 2018, JDA Software Group, Inc.
                                   All Rights Reserved

                      THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF
                                 JDA SOFTWARE GROUP, INC.


                  The copyright notice above does not evidence any actual
                       or intended publication of such source code.

     ==========================================================================

-->

<Configuration>
    <SystemDefaults>
        <TmDateFormat>yyyy-MM-dd'T'HH:mm:ss</TmDateFormat>
        <GS1DateFormat>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</GS1DateFormat>
        <TimeZone>US/Central</TimeZone>
    </SystemDefaults>
</Configuration>
